
body {
}

a, a:visited {
  color:#333 !important;
}

#container {
  padding-top:20px !important;
  width: 980px !important;
}

li {
    font-size: 14px !important;
}

header {
  padding: 10px;
}

#book-title {
  color: white;
  font-size: 2.3em;
  text-align: center;
}

#text-select {
  float:right;
  color:white;
  margin-right: 10px;
}

#vis {
  overflow: hidden;
  position: relative;
}

#status {
  padding:0 0 20px 20px;
}

#controls {
  padding: 20px;
  background-color: #eee;
  margin: 10px;
  width: 350px;
}

#bubble-background {
  fill: none;
  pointer-events: all;
}

.bubble-node {
  fill: #fe5b8d;
  color:white;
}

.bubble-hover {
  fill: #47e8b8;
  color:white;
}

.bubble-selected {
  fill: #720d5e;
  stroke: #7b0b59;
  stroke-width: 1.5px;
  color:white;
}

.active {
  color: #7b0b59
  color:white;
}

a.bubble-label {
  color: white;
  cursor: pointer;
  display: block;
  text-align: center;
  text-decoration: none;
  line-height: 1em;
  position: absolute;
}


.bubble-label .bubble-label-value {
  font: 11px sans-serif;
  white-space: nowrap;
  color:white;
}

.bubble-label-name {
    color:white;
}

footer p {
  text-align: center;
  padding-top:20px;
  padding-bottom:20px;
}
